<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>61.691993713378906</real>
	<key>angleVariance</key>
	<real>299.89724731445312</real>
	<key>blendFuncDestination</key>
	<integer>772</integer>
	<key>blendFuncSource</key>
	<integer>772</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>1</real>
	<key>finishColorAlpha</key>
	<real>0.57999998331069946</real>
	<key>finishColorBlue</key>
	<real>0.73619067668914795</real>
	<key>finishColorGreen</key>
	<real>0.21912473440170288</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>12</real>
	<key>finishParticleSizeVariance</key>
	<real>12</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>120</real>
	<key>maxParticles</key>
	<real>12</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>100</real>
	<key>particleLifespan</key>
	<real>1.7999999523162842</real>
	<key>particleLifespanVariance</key>
	<real>0.60000002384185791</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>34</real>
	<key>rotatePerSecond</key>
	<real>112.8531494140625</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>10</real>
	<key>sourcePositionVariancey</key>
	<real>10</real>
	<key>sourcePositionx</key>
	<real>0.0</real>
	<key>sourcePositiony</key>
	<real>0.0</real>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>132.47282409667969</real>
	<key>startColorAlpha</key>
	<real>0.56999999284744263</real>
	<key>startColorBlue</key>
	<real>0.022651456296443939</real>
	<key>startColorGreen</key>
	<real>0.87864911556243896</real>
	<key>startColorRed</key>
	<real>0.98184174299240112</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>30</real>
	<key>startParticleSizeVariance</key>
	<real>30</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>heart_3.png</string>
</dict>
</plist>
